@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
}

html {
    height: 100%;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-family: "PT Sans", sans-serif;
    font-size: 22px;
    line-height: 26px;
    color: #242424;
    background-color: #fbf7f4;
}

.container-body {
    margin: 0 auto;
    width: 1200px;
}

.page-header {
    color: #000000;
    background: #ffffff;
}

.navigation {
    display: flex;
    width: 1200px;
    margin: 0 auto;
}

.navigation-logo {
    width: 139px;
    margin-right: 30px;
    margin-left: 70px;
}

.navigation-list {
    width: 450px;
    margin: 0;
    padding: 0;
}

.navigation-user {
    max-width: 270px;
    margin-right: 70px;
    margin-left: auto;

}

.navigation-link {
    font-family: "PT Sans", sans-serif;
    font-size: 20px;
    line-height: 26px;
    font-weight: 700;
    text-align: center;
    color: #000000;
    background-color: #ffffff;
    text-decoration: none;
    text-transform: capitalize;
}

.button-here {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;
    background-color: #756157;
    text-transform: uppercase;
}

.main-container {
    flex-grow: 1;
}

.main-index {
    color: #000000;
    background-color: #ffffff;
    background-image: url("../images/svg/mask_sedona.svg"),
        url("../images/jpg/background-index.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
}

.main-index-logo {
    display: block;
    margin: 0 auto;
}

.advantages-title-about {
    margin: 0 auto;
    width: 620px;
}

.advantages {
    font-family: "PT Sans", sans-serif;
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
    text-align: center;
    color: #000000;
    background-color: #ffffff;
    text-transform: uppercase;
}

.advantages-list {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    width: 1200px;
}

.advantages-item {
    width: 400px;
}

.advantages-title {
    font-family: "PT Sans", sans-serif;
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}

.advantages-title-about {
    font-size: 30px;
    line-height: 36px;
}

.advantages-title-description {
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    color: #333333;
    text-transform: none;
}

.advantages-description {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-transform: none;
}

.advantages-real-town {
    color: #FFFFFF;
    background-color: #82B3D3;
}

.advantages-house {
    background-color: rgba(131, 179, 211, 0.12);
}

.advantages-souvenirs {
    background-color: rgba(131, 179, 211, 0.12);
}

.advantages-bridge-devil {
    color: #FFFFFF;
    background-color: #82B3D3;
}

.advantages-area {
    background-color: rgba(131, 179, 211, 0.12);
}

.advantages-road {
    background-color: rgba(131, 179, 211, 0.2);
}

.advantages-tourists {
    background-color: rgba(131, 179, 211, 0.12);
}

.search-hotels {
    text-align: center;
}

.search-hotels-title {
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
}

.search-hotels-description {
    color: #333333;
}

.button-search-hotels {
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    color: #ffffff;
    background-color: #756157;
    text-decoration: none;
}

.page-footer {
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    text-align: center;
    color: #ffffff;
    background-color: #000000;
    text-transform: uppercase;
}

.newsletter {
    background-image: url("../images/jpg/background-footer.jpg");
    background-repeat: no-repeat;
    background-size: 100% auto;
}

.page-footer-title-description {
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    text-transform: none;
}

.newsletter-button {
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #82B3D3;
}

.footer-social {
    display: flex;
    width: 1200px;
    margin: 0 auto;
    color: #000000;
    background-color: #ffffff;
}

.page-footer a {
    color: inherit;
}

.contacts-phone {
    font-size: 40px;
    line-height: 40px;
    font-weight: 400;
    text-align: center;
    color: #000000;
    background-color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    margin: 0 auto;
}

.sorting-container-filter-hotels {
    font-size: 18px;
    line-height: 21px;
    color: #ffffff;
    background-color: #000000;
    background-image: url("../images/jpg/background-catalog.jpg");
    background-repeat: no-repeat;
    background-size: 100% auto;
}

.catalog-filter-hotels {
    display: flex;
}

.inner-header-title {
    font-size: 60px;
    line-height: 78px;
}

.breadcrumbs-link {
    color: inherit;
    font-size: 16px;
    line-height: 21px;
    text-decoration: none;
}

.catalog-filter-hotels-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
}

.catalog-filter-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
}

.button-submit {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: inherit;
    background-color: #82B3D3;
}

.button-reset {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: inherit;
    background-color: inherit;
}

.sorting-container-hotel-found {
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    background-color: #ffffff;
}

.sorting-container {
    display: flex;
}

.hotel-found-title {
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
}

.hotel-list {
    display: flex;
    justify-content: space-between;
}

.hotel-card {
    width: 340px;
}

.value {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #333333;
}

.hotel-card-link {
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    text-decoration: none;
}

.hotel-card-name {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #333333;
}

.hotel-card-price {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #333333;
}

.hotel-card-button {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;
    background: #82B3D3;
}

.rating-name {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: #333333;
    background-color: #F2F2F2;
}

.pagination-container {
    background-color: #ffffff;
    display: flex;
}

.pagination {
    margin-left: 73px;
}

.pagination-link {
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    color: #ffffff;
    background-color: #82B3D3;
    text-decoration: none;
}

.pagination-current {
    color: #000000;
    background-color: #F2F2F2;
}

.select-control-container {
    margin-right: 71px;
    margin-left: auto;
}

.select-control-title {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #333333;
    background-color: #ffffff;
    margin-right: 71px;
    margin-left: auto;
}

.newsletter-catalog {
    color: #000000;
    background-color: #ffffff;
}
